@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

* {
  font-family: 'Orbitron', sans-serif;
}
body {
  background: linear-gradient(180deg, rgba(133,226,218,1) 0%, rgba(240,181,158,1) 100%);
  background-repeat: no-repeat;
  background-size: 175vw 175vh;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(243, 232, 217, 0.6);
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-style: italic;
}

/* Video Player */
#vid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border: solid rgba(255, 228, 196, 0.6) 10px;
  width: 90%;
  height: 50%;
}

/* Controls */
.video-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 100%;
}
#video_select {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.video-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#button {
  background-color: rgb(255, 228, 196);
  width: 90%;
  margin: 5px 5px 5px 5px;
  text-align: center;
  border: solid black 1px;
  padding: 2px;
}
#button:hover {
  cursor: pointer;
  background: rgb(255, 228, 196, .6);
}

/* Div that changes as video plays */
.changing-div {
  width: 90%;
  height: 100%;
  border: solid rgba(255, 228, 196, 0.6) 10px;
  margin-top: 15px;
  /* Center the div */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* hide images */
#image {
  display: none;
  width: inherit;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (min-width: 720px) {
  /* Main */
  #vid {
    width: 60vw;
  }
  .video-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
  }
  .changing-div {
    width: 90%;
  }
  #video_select {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  /* Main */
  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 150px;
  }
  #vid {
    width: 100%;
    margin-left: 15%;
  }
  #video-select {
    margin-left: 20px;
  }
  .video-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 15%;
    width: 100%;
  }
  .changing-div {
    width: 70%;
  }

}